body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Навигация */
.main-header {
  display: block;
  position: relative;
}

.main-navigation {
  position: relative;
  padding: 0 72px;
  height: 56px;
}

.main-navigation-logo {
  position: absolute;
  margin-left: -69px;
  left: 50%;
  top: 0;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu-item {
  width: 200px;
  padding: 15px 0;

  line-height: 26px;
}

.item-left {
  padding-right: 40px;
  text-align: left;
}

.item-right {
  padding-left: 40px;
  text-align: right
}

.item-left + .item-right {
  margin-left: auto;
}

.main-navigation a {
  font-weight: bold;
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-menu-item-current a {
  color: #766357;
}

/* Картинка после шапки на главной */
.background-index {
  height: 508px;

  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-color: #deebf4;
  background-repeat: no-repeat;
  background-position: 0 451px, 0 -56px ;
}

.background-index-image {
  margin-top: 76px;
}

/* Преимущества */
.about-info {
  width: 500px;
  margin: 60px auto 53px;

  line-height: 26px;
}

.about-info-title {
  margin-bottom: 27px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.feature-first {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.feature-second {
  display: flex;
  overflow: hidden;

  background-color: #ded6dc;
}

.feature-head {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  margin-top: 2px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.main-feature-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #eeeeee;
  z-index: 2;

  list-style: none;
}

.main-feature-list-item {
  width: 400px;
}

.feature-first-main {
  display: flex;

  background-color: #ded6dc;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;

  color: #333333;
  background-color: #ffffff;

  list-style: none;
}

.feature-list img {
  margin-top: 60px;
  margin-bottom: 20px;
}

.feature-list p {
  margin-bottom: 77px;

  line-height: 21px;
}

.feature-list li:last-child {
  margin-top: -4px;
}

.blue-feature {
  padding: 43px 42px 46px;
  width: 316px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  color: #ffffff;
}

.feature-number {
  padding-bottom: 23px;
}

.blue-feature h3 {
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  font-size: 21px;
}

.blue-feature-text {
  width: 305px;
  margin: 0 auto;
}

.white-feature-text {
  width: 300px;
  margin: 0 auto;
}

.grey-feature-text {
  width: 265px;
  margin: 0 auto;
}

.feature-image-first {
  height: 256px;
}

.feature-image-first img {
  height: 256px;
}

.feature-image-second {
  width: 800px;
  height: 256px;
  order: -1;
}

.feature-image-second img {
  width: 800px;
  height: 256px;
}

.grey-feature-third {
  width: 250px;
  margin: 0 auto;
}

.grey-feature {
  position: relative;
  padding-top: 43px;
  width: 400px;
  z-index: 2;

  background-color: #eeeeee;
}

.grey-feature:last-child {
  padding-bottom: 55px;
}

/* Поиск */
.search-question {
  margin: 0px auto 26px;

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-paragraph {
  line-height: 24px;
}

/* Форма поиска на главной */
.search-wrapper {
  padding-top: 50px;
  position: relative;
  z-index: 2;

  background-color: #ffffff;
}

.search-info {
  max-width: 460px;
  margin: 0 auto 14px;
}

.search-container {
  padding: 0;
  z-index: 1;

  text-align: left;
  color: #000000;
  font-weight: bold;
  border: none;
}

.search-form-container {
  display: block;
  position: absolute;
  margin-top: -397px;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes moveUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(397px);}
}

@keyframes moveDown {
  0% { transform: translateY(397px); }
  100% { transform: translateY(0);}
}

 .search-form-hide {
  display: block;

  animation: moveUp 0.6s forwards;
}

.search-form-show {
  display: block;

  animation: moveDown 0.6s forwards;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 458px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 55px;
}

.search-form-row {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  height: 38px;
  margin-bottom: 30px;
}

.search-form-row-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  height: 38px;
  margin-bottom: 30px;
}

.add-number {
  display: flex;
  justify-content: space-between;
  width: 458px;
  height: 38px;
}

.item-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  text-align: center;
}

.add-number-input {
  display: flex;
  justify-content: space-between;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.search-primary-button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-top: 24px;
  height: 58px;

  font-size: 21px;
  line-height: 26px;
}

.date-label {
  width: 100px;
  margin-right: 11px;

  line-height: 26px;
}

.date-label-child {
  width: 55px;
  margin-right: 9px;

  line-height: 26px;
}

.date {
  padding-left: 12px;
  width: 334px;
  height: 38px;

  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.date::placeholder {
  color: #000000;
}

.date:focus {
  width: 346px;
}

.number {
  width: 38px;
  height: 38px;

  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

/* Карта */
.map {
  width: 100%;
  height: 593px;

  background-image: url("../img/map.png");
}

/* Кнопки */
.primary-button {
  display: inline-block;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.primary-button:hover {
  background-color: #669ec0;
}

.primary-button:active {
  color: #d8d8d8;
}

.secondary-button {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  height: 26px;

  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.secondary-button:hover {
  background-color: #604e43;
  border: none;
  color: #ffffff;
}

.secondary-button:active {
  color: #d8d8d8;
}

.filter-button {
  display: inline-block;
  margin-left: 82px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.search-open-button {
  position: relative;
  width: 568px;
  height: 86px;
  margin-top: 32px;
  font-size: 21px;
  z-index: 3;

  font-weight: bold;

  cursor: pointer;
}

.calendar-button {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.calendar-button path {
  fill: #a9a9a9;
}

.calendar-button:hover path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81B3D2;
}

.add-number-button {
  position: relative;
  width: 38px;
  height: 38px;

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

.number-button-minus::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;

  width: 12px;
  height: 3px;

  border-radius: 1px;
  background-color: #a9a9a9;
}

.number-button-minus:hover::before,
.number-button-plus:hover::before,
.number-button-plus:hover::after {
  background-color: #000000;
}

.number-button-minus:active::before,
.number-button-plus:active::before,
.number-button-plus:active::after {
  background-color: #81b3d2;
}

.number-button-plus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;

  width: 11px;
  height: 3px;

  border-radius: 1px;
  background-color: #a9a9a9;
}

.number-button-plus::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;

  width: 3px;
  height: 11px;

  border-radius: 1px;
  background-color: #a9a9a9;
}

.hotel-button {
  padding: 3px 16px;
  margin-right: 3px;
  height: 20px;

  font-size: 14px;
}

/* Фильтры на странице списка отелей */
.hotel-filters {
  padding-top: 22px;

  color: #ffffff;
  background: #81b3d2 no-repeat center;
  background-image: url("../img/filter-background.jpg");
}

.filters {
  text-align: left;
  border: none;
}

.filters-layout {
  display: flex;
}

.filter-title {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filters li {
  list-style: none;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;

  list-style: none;
}

.infrastructure {
  width: 193px;
  margin-left: 62px;
}

.filter-item {
  height: 23px;
  margin-bottom: 22px;
}

.filter-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 39px;
  vertical-align: top;

  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Сложный фильтр */
.complex-filter {
  width: 318px;
  margin-left: 290px;
}

.complex-filter-title {
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;
  margin-top: 6px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 61px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/* Cортировка*/
.main-content {
 text-align: left;
}

.sort-menu{
  display: flex;
  justify-content: flex-start;
  height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: auto;

  border-bottom: 1px solid #e5e5e5;
}

.sort-title {
  display: flex;
  justify-content: flex-start;
  width: 164px;
}

.sort-title:first-child p{
  margin-right: 5px;
}

.sort-links {
  display: flex;
  align-items: center;
  height: 26px;
  width: 805px;
  margin-right: 20px;
  margin-top: 3px;
}

.sort-links p {
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sort-links li {
  margin-right: 32px;
}

.sort-arrows {
  display: flex;
  justify-content: flex-end;
  width: 72px;
  margin-top: 9px;
}

a.arrow {
  display: inline-block;
  margin: 0 6px;

  font-size: 0;
}

.arrow::before {
  content: "";

  display: inline-block;

  border: 9px solid #cacaca;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow-up:hover::before {
  content: "";

  display: inline-block;

  border: 9px solid #000000;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  border-top-width: 0;
}

.arrow-down:hover::before {
  content: "";

  display: inline-block;

  border: 9px solid #000000;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.arrow-up:active::before {
  content: "";

  display: inline-block;

  border: 9px solid #81b3d2;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  border-top-width: 0;
}

.arrow-down:active::before,
.arrow-down::before{
  content: "";

  display: inline-block;

  border: 9px solid #81b3d2;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.sort-list {
  display: flex;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:active{
  color: #000000;
  border-bottom: none;
}

.sort-link-active a {
  color: #81b3d2;
  border-bottom: none;
}

/* Карточка отеля*/
.hotel-list {
  list-style: none;
}

.hotel-item {
  display: flex;
  justify-content: flex-start;
  padding: 25px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  padding-top: 5px;
  margin-right: 30px;
}

.hotel-info {
  width: 780px;
}

.hotel-category {
  display: flex;
  margin-bottom: 14px;
  margin-top: 8px;
}

.rate {
  width: 110px;
  margin-top: 48px;
  padding: 3px 0;

  background-color: #f2f2f2;
  border: none;
  text-align: center;
  color: #666666;
}

.hotel-list-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-list a:hover {
  color: #81b3d2;
}

.hotel-list a:active {
  color: #766357;
}

.hotel-type {
  width: 116px;
}

.hotel-stars {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.star {
  width: 18px;
  height: 17px;
  margin-left: 5px;
  overflow: hidden;

  background: url("../img/star.svg") no-repeat top left;
  background-size: 18px 17px;
}


/* Подвал */
.footer-wrap {
  height: 120px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  background-color: rgba(255,255,255,.9);
}

.footer-index {
  position: absolute;
  left: 0;
  bottom: 0;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-promo {
  width: 400px;
}

.social-list {
  display: flex;
  justify-content: center;
  width: 400px;
}

.social-item {
  margin: 3px;

  list-style: none;
  cursor: pointer;
}

.social-link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-link:active::before {
  opacity: 0.3;
}

.social-link-tw::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 16px;

  width: 17px;
  height: 17px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-fb::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 18px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-yt::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 13px;

  width: 20px;
  height: 16px;

  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-info p {
  display: block;
  padding-right: 6px;

  line-height: 26px;
}

.footer-info a {
  display: block;
  width: 114px;
  height: 40px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

